.output {
  margin-top: 30px;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.code {
  background-color: #fff;
  color: #000;
  font-size: 16px;
  max-width: 80%;
  padding: 6px;
  margin-bottom: 20px;
}