.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(241, 221, 196);
}

.title {
  text-align: center;
  margin: 20px auto 0;
  color:rgb(0, 225, 255);
}